In [1]:
# !pip install datasets transformers

In [2]:
import datasets
import transformers
datasets.__version__

'2.19.2'

In [3]:
transformers.__version__

'4.41.2'

In [4]:
from datasets import load_dataset
reviews = load_dataset('rotten_tomatoes')

In [5]:
type(reviews)

datasets.dataset_dict.DatasetDict

In [6]:
reviews

DatasetDict({
    train: Dataset({
        features: ['text', 'label'],
        num_rows: 8530
    })
    validation: Dataset({
        features: ['text', 'label'],
        num_rows: 1066
    })
    test: Dataset({
        features: ['text', 'label'],
        num_rows: 1066
    })
})

In [7]:
reviews['train'].to_pandas()

                                                   text  label
0     the rock is destined to be the 21st century's ...      1
1     the gorgeously elaborate continuation of " the...      1
2                        effective but too-tepid biopic      1
3     if you sometimes like to go to the movies to h...      1
4     emerges as something rare , an issue movie tha...      1
...                                                 ...    ...
8525  any enjoyment will be hinge from a personal th...      0
8526  if legendary shlockmeister ed wood had ever ma...      0
8527  hardly a nuanced portrait of a young woman's b...      0
8528    interminably bleak , to say nothing of boring .      0
8529  things really get weird , though not particula...      0

[8530 rows x 2 columns]

In [8]:
reviews['train'].to_pandas()['text']

0       the rock is destined to be the 21st century's ...
1       the gorgeously elaborate continuation of " the...
2                          effective but too-tepid biopic
3       if you sometimes like to go to the movies to h...
4       emerges as something rare , an issue movie tha...
                              ...
8525    any enjoyment will be hinge from a personal th...
8526    if legendary shlockmeister ed wood had ever ma...
8527    hardly a nuanced portrait of a young woman's b...
8528      interminably bleak , to say nothing of boring .
8529    things really get weird , though not particula...
Name: text, Length: 8530, dtype: object

In [9]:
reviews['train'].to_pandas()['text'][0]

'the rock is destined to be the 21st century\'s new " conan " and that he\'s going to make a splash even greater than arnold schwarzenegger , jean-claud van damme or steven segal .'

In [10]:
from transformers import pipeline

In [11]:
classifier = pipeline("sentiment-analysis")

No model was supplied, defaulted to distilbert/distilbert-base-uncased-finetuned-sst-2-english and revision af0f99b (https://huggingface.co/distilbert/distilbert-base-uncased-finetuned-sst-2-english).
Using a pipeline without specifying a model name and revision in production is not recommended.
C:\Users\akagr\myenv\Lib\site-packages\huggingface_hub\file_download.py:1132: FutureWarning: `resume_download` is deprecated and will be removed in version 1.0.0. Downloads always resume when possible. If you want to force a new download, use `force_download=True`.
  warnings.warn(

WARNING:tensorflow:From C:\Users\akagr\myenv\Lib\site-packages\tf_keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [15]:
classifier("This was a good Movie")

[{'label': 'POSITIVE', 'score': 0.9998570680618286}]

In [18]:
def score(review_text):
    return classifier(review_text)[0]['label']

In [19]:
test_df = reviews['test'].to_pandas()

In [20]:
test_df

                                                   text  label
0     lovingly photographed in the manner of a golde...      1
1                 consistently clever and suspenseful .      1
2     it's like a " big chill " reunion of the baade...      1
3     the story gives ample opportunity for large-sc...      1
4                     red dragon " never cuts corners .      1
...                                                 ...    ...
1061  a terrible movie that some people will neverth...      0
1062  there are many definitions of 'time waster' bu...      0
1063  as it stands , crocodile hunter has the hurrie...      0
1064  the thing looks like a made-for-home-video qui...      0
1065  enigma is well-made , but it's just too dry an...      0

[1066 rows x 2 columns]

In [22]:
test_df['model_predictions'] = test_df['text'].apply(score)

In [23]:
test_df

,text,label,model_predictions
0,lovingly photographed in the manner of a golde...,1,POSITIVE
1,consistently clever and suspenseful .,1,POSITIVE
2,"it's like a "" big chill "" reunion of the baade...",1,NEGATIVE
3,the story gives ample opportunity for large-sc...,1,POSITIVE
4,"red dragon "" never cuts corners .",1,POSITIVE
...,...,...,...
1061,a terrible movie that some people will neverth...,0,NEGATIVE
1062,there are many definitions of 'time waster' bu...,0,NEGATIVE
1063,"as it stands , crocodile hunter has the hurrie...",0,NEGATIVE
1064,the thing looks like a made-for-home-video qui...,0,NEGATIVE
1065,"enigma is well-made , but it's just too dry an...",0,NEGATIVE

In [26]:
print(test_df.iloc[2]['text'])

it's like a " big chill " reunion of the baader-meinhof gang , only these guys are more harmless pranksters than political activists .